.expenses {
    border-radius: 10px;
    padding: 24px 20px;
    color: var(--clr-neutral-dark-brown);
    background: var(--clr-neutral-very-pale-orange);

    &__title {
        font-size: 1.5rem;
    }

    &__chart {
        height: 180px;
        margin-block-start: 48px;
        margin-block-end: 24px;
    }

    &__separator {
        border: {
            width: 1px;
            block-style: solid;
            color: var(--clr-neutral-medium-brown) transparent transparent transparent;
            inline-style: none;
        }

        margin-block: 24px;
    }

    &__footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__total {
        &label {
            font-size: 0.95rem;
            color: var(--clr-neutral-medium-brown);
        }

        &amount {
            font-weight: bold;
            font-size: 1.9rem;
        }
    }

    &__delta {
        text-align: end;

        &percentage {
            font-size: 1rem;
            font-weight: bold;
        }

        &label {
            font-size: 0.95rem;
            color: var(--clr-neutral-medium-brown);
        }
    }
}