@use '../../styles/abstracts/mixins' as *;

.expenses {
    border-radius: 10px;
    padding: 24px 20px;
    color: var(--clr-neutral-dark-brown);
    background: var(--clr-neutral-very-pale-orange);

    &__title {
        font-size: 1.5rem;
    }

    &__chart {
        height: 180px;
        margin-block-start: 48px;
        margin-block-end: 24px;
    }

    &__separator {
        border: {
            width: 1px;
            block-style: solid;
            color: var(--clr-neutral-medium-brown) transparent transparent transparent;
            inline-style: none;
        }

        margin-block: 24px;
    }

    &__footer {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: flex-end;
    }

    &__total {
        &label {
            font-size: 0.95rem;
            color: var(--clr-neutral-medium-brown);
        }

        &amount {
            font-weight: bold;
            font-size: 1.9rem;
        }
    }

    &__delta {
        text-align: end;

        &percentage {
            font-size: 1rem;
            font-weight: bold;
        }

        &label {
            font-size: 0.95rem;
            color: var(--clr-neutral-medium-brown);
        }
    }
}

@include device(medium) {
    .expenses {
        padding: 28px 36px;
        border-radius: 22px;
    
        &__title {
            font-size: 2rem;
        }
    
        &__chart {
            margin-block-start: 64px;
            margin-block-end: 28px;
        }
    
        &__total {
            padding-block: 0.5rem;

            &label {
                font-size: 1.1rem;
            }
    
            &amount {
                font-size: 3rem;
                line-height: 4rem;
            }
        }
    
        &__delta {
            padding-block: 1rem;

            &percentage {
                font-size: 1.2rem;
            }
    
            &label {
                font-size: 1.1rem;
            }
        }
    }
}