@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoints' as *;

a[target="_blank"]::after {
    margin: 0 3px 0 5px;

    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
}

body {
    background-color: var(--clr-neutral-cream);
}