@use '../abstracts/mixins' as *;
@use '../abstracts/breakpoints' as *;
@use '../abstracts/functions' as *;
@use '../abstracts/colors' as *;

a[target="_blank"]::after {
    margin: 0 3px 0 5px;

    content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
}

body {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-neutral-cream);
    padding: 0 1rem;
}

#root {
    max-width: 100%;
}

main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}

footer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem;

    .attribution {
        display: flex;
        flex-flow: column nowrap;
    }
}

@include device(medium) {
    main {
        gap: 1.5rem;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

// $scrollbar-primary-bg: #ccc;
// $scrollbar-accent-bg: darken($scrollbar-primary-bg, 15%);
$scrollbar-primary-bg: var(--clr-primary-soft-red);
$scrollbar-accent-bg: darken(map-get(map-get($colors, primary), soft-red), 15%);
::-webkit-scrollbar-track {
    background: transparent;
    outline: 1px solid $scrollbar-primary-bg;
    border-radius: 4px;
}
  
::-webkit-scrollbar-thumb {
    background: $scrollbar-primary-bg;
    border-radius: 4px;
}
  
::-webkit-scrollbar-thumb:hover {
    background: $scrollbar-accent-bg;
}