.tooltip {
    // Positioned relative to the body (React portal)
    position: absolute;
    
    // This will be set via Javascript
    top: 0;
    left: 0;
    padding-block: 0.5rem;
    padding-inline: 1rem;
    border-radius: 4px;        
    
    color: var(--clr-neutral-very-pale-orange);
    text-align: center;
    
    background-color: var(--clr-neutral-dark-brown);
    transform: translate(-50%, calc(-100% - 1rem));

    &::after {
        content: " ";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -8px;
        border-width: 8px;
        border-style: solid;
        border-color: var(--clr-neutral-dark-brown) transparent transparent transparent;
    }
}